@import url("https://fonts.googleapis.com/css?family=Manrope:200,300,400,500,600,700,800&display=swap");

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --theme-font: "Manrope", sans-serif;
  background-color: #f6f6fb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  font-weight: 200;
}

h3 {
  font-size: 0.9rem;
  color: #8395a7;
  font-weight: 800;
}
